<a href="https://colab.research.google.com/github/coldbilberry/repo-gui/blob/main/%D0%A2%D0%B5%D0%BE%D1%80%D0%B8%D1%8F_%D0%B2%D0%B5%D1%80%D0%BE%D1%8F%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B5%D0%B9_%D0%B8_%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0_%D1%80%D0%BD%D0%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

      Урок 1 задача 1
Из колоды в 52 карты извлекаются случайным образом 4 карты. a) Найти вероятность того, что все карты – крести. б) Найти вероятность, что среди 4-х карт окажется хотя бы один туз

In [ ]:
from math import factorial

А - в выбранных четырех картах, все карты - крести

n = сочетание 4 из 52 m = сочетание 4 из 13

In [ ]:
n = factorial(52) / (factorial(4)*factorial(52 - 4))
m = factorial(13) / (factorial(4)*factorial(13 - 4))
print(f'Вероятность того, что все карты - крести = {m/n :.4f}')

Вероятность того, что все карты - крести = 0.0026

А - среди выбранных карт хотя бы один туз

А = А1 + А2 + А3 + А4

А1 - среди выбранных один туз

А2 - среди выбранных два туза

А3 - среди выбранных три туза

А4 - среди выбранных четыре туза

n - сочетание 4 из 52

m1 = (сочетание 1 из 4 ) * (сочетание 3 из 48)

m2 = (сочетание 2 из 4 ) * (сочетание 2 из 48)

m3 = (сочетание 3 из 4 ) * (сочетание 1 из 48)

m4 = сочетание 4 из 4

In [ ]:
P1 = (factorial(4) / (factorial(1)*factorial(4 - 1))) * (factorial(48) / (factorial(3)*factorial(48 - 3))) / n
P2 = (factorial(4) / (factorial(2)*factorial(4 - 2))) * (factorial(48) / (factorial(2)*factorial(48 - 2))) / n
P3 = (factorial(4) / (factorial(3)*factorial(4 - 3))) * (factorial(48) / (factorial(1)*factorial(48 - 1))) / n
P4 = factorial(4) / (factorial(4)*factorial(4 - 4)) / n
P = P1 + P2 + P3 + P4
print(f'Вероятность того, что из 4 вытащенных из колоды хотя бы один туз = {P :.2f}')

Вероятность того, что из 4 вытащенных из колоды хотя бы один туз = 0.28

      Урок 1 задача 4
В лотерее 100 билетов. Из них 2 выигрышных. Какова вероятность того, что 2 приобретенных билета окажутся выигрышными?

А - два приобретенных билета выигрышные

n - сочетание 2 из 100

m - сочетание 2 из 2

In [ ]:
P = (factorial(2) / (factorial(2)*factorial(2 - 2))) / (factorial(100) / (factorial(2)*factorial(100 - 2)))
print(f'Вероятность того, что оба билета выигрышные = {P :.5f}')

Вероятность того, что оба билета выигрышные = 0.00020

      Урок 3 задача 2
В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

А11 - из первого ящика вынули два белых мяча

А12 - из второго ящика вынули один белый мяч

А21 - из первого ящика вынули один белый мяч

А22 - из второго ящика вынули два белых мяча

А31 - из первого ящика вынули ноль белых мячей

А32 - из второго ящика вынули три белых мяча

А - из ящиков вынули три белых мяча

А = А11 А12 + А21 А22 + А31* А32

In [ ]:
import pandas as pd
import numpy as np
from math import factorial as fl

In [ ]:
PA11 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(3) / (fl(0) * fl(3 - 0))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA12 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(7) / (fl(3) * fl(7 - 3))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA21 = (fl(5) / (fl(1) * fl(5 - 1))) * (fl(3) / (fl(1) * fl(3 - 1))) / (fl(8) / (fl(2) * fl(8 - 2)))
PА22 = (fl(5) / (fl(2) * fl(5 - 2))) * (fl(7) / (fl(2) * fl(7 - 2))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA31 = (fl(5) / (fl(0) * fl(5 - 0))) * (fl(3) / (fl(2) * fl(3 - 2))) / (fl(8) / (fl(2) * fl(8 - 2)))
PA32 = (fl(5) / (fl(3) * fl(5 - 3))) * (fl(7) / (fl(1) * fl(7 - 1))) / (fl(12) / (fl(4) * fl(12 - 4)))
PA = PA11 * PA12 + PA21 * PА22 + PA31 * PA32
PA

0.3686868686868687

      Урок 3 задача 5
Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

А - из строя вышли все детали

In [ ]:
PA = 0.1 * 0.2 * 0.25
PA

0.005000000000000001

B1 - из строя вышли первая и вторая деталь, но не вышла третья

B2 - из строя вышла первая и третья деталь, но не вышла вторая

B3 - из строя вышла вторая и третья деталь, но не вышла первая

В = B1 + B2 + B3 - из строя вышло только две детали

In [ ]:
PB = 0.1 * 0.2 * 0.75 + 0.1 * 0.8 * 0.25 + 0.9 * 0.2 * 0.25
PB

0.08000000000000002

C - из строя вышла хотя бы одна деталь

In [ ]:
PC = 1 - 0.9 * 0.8 * 0.75
PC

0.45999999999999996

D1 - из строя вышла первая деталь

D2 - из строя вышла вторая деталь

D3 - из строя вышла третья деталь

D - из строя вышла одна деталь

Е = В + D - из строя вышло от одной до двух деталей

In [ ]:
PD = 0.9 * 0.2 * 0.25 + 0.1 * 0.8 * 0.25 + 0.1 * 0.2 * 0.75
PD

0.08

In [ ]:
PE = PB + PD
PE

0.16000000000000003

      Урок 5 задача 2
В результате 10 независимых измерений некоторой величины X, выполненных с одинаковой точностью,
получены опытные данные:
6.9, 6.1, 6.2, 6.8, 7.5, 6.3, 6.4, 6.9, 6.7, 6.1
Предполагая, что результаты измерений подчинены нормальному закону распределения вероятностей,
оценить истинное значение величины X при помощи доверительного интервала, покрывающего это
значение с доверительной вероятностью 0,95.

In [ ]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import _tconfint_generic as t_stat
from scipy.stats import norm 
import math

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
X = np.array([6.9, 6.1, 6.2, 6.8, 7.5, 6.3, 6.4, 6.9, 6.7, 6.1])
mean_X = X.mean()
std_X = X.std(ddof=1)
mean_std_X = std_X / (np.sqrt(len(X)))
t_stat(mean_X, mean_std_X,len(X) - 1, 0.05, 'two-sided')

(6.267515851415713, 6.912484148584288)

      Урок 5 задача 3
Утверждается, что шарики для подшипников, изготовленные автоматическим станком, имеют средний диаметр 17 мм.
Используя односторонний критерий с α=0,05, проверить эту гипотезу, если в выборке из n=100 шариков средний диаметр
оказался равным 17.5 мм, а дисперсия известна и равна 4 кв. мм.

H0: M = 7

H1: M > 17

In [ ]:
U_fact = (17.5 - 17) / 4 * np.sqrt(100)
U_fact

1.25

In [ ]:
Ф(U_cr) = 1.645

т.к. U_fact < U_cr Нулевая гипотеза принимается

      Урок 5 задача 4
Продавец утверждает, что средний вес пачки печенья составляет 200 г.
Из партии извлечена выборка из 10 пачек. Вес каждой пачки составляет:
202, 203, 199, 197, 195, 201, 200, 204, 194, 190.
Известно, что их веса распределены нормально.
Верно ли утверждение продавца, если учитывать, что доверительная вероятность равна 99%?

H0: M = 200

H1: M != 200

In [ ]:
X = np.array([202, 203, 199, 197, 195, 201, 200, 204, 194, 190])
mean_X = X.mean()
std_X = X.std(ddof=1)
t_fact = (mean_X - 200) / std_X * np.sqrt(10)
t_fact

-1.0651074037450896

In [ ]:
t_cr = 3.25

т.к. abs(t_fact) < t_cr нулевая гипотеза принимается